<!-- src/views/organizations/index.ejs -->

<h1>Organizations</h1>

<% if(organizations.length > 0) { %>

  <ul>

    <% organizations.forEach(org => { %>

      <li>
        <a
          href="/organizations/<%= org.organization_id %>"
        >
          <%= org.name %>
        </a>
      </li>

    <% }) %>

  </ul>

<% } else { %>

  <p>No organizations found.</p>

<% } %>