<%- include('partials/header') %>

<main>

    <h1><%= title %></h1>

    <ul>
        <li>Community Food Drive</li>
        <li>Neighborhood Cleanup</li>
        <li>After School Tutoring</li>
        <li>Health Awareness Campaign</li>
    </ul>

</main>

<%- include('partials/footer') %>