<%- include('../partials/header') %>

<main>
    <h1>Server Error</h1>

    <p><%= error %></p>

    <% if (NODE_ENV === 'development' && stack) { %>
        <pre><%= stack %></pre>
    <% } %>
</main>

<%- include('../partials/footer') %>